body, td {
	font-family: "Avenir next", Roboto, sans-serif;
}

input[type=checkbox] {
	border: 2px solid black;
	border-radius: 2px;
}

.textInput {
	margin: 15px 0px;
	max-width: 370px;
}
.textInput label {
	display: block;
	position: absolute;
	color: rgb(145, 170, 157);

	margin-top: 0px;
	font-size: 11px;
	transition: margin-top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}
.textInput input[type=text],
.textInput textarea {
	border-color: rgb(209, 219, 189);
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-radius: 0px;

	width: 100%;
	font-size: 16px;
	font-family: Avenir next, Roboto, sans-serif;

	margin-top: 13px;
	padding: 0px 0px 2px 0px;
	transition: border-color 0.2s ease;
}
.textInput.expandingArea pre {
	width: 100%;
	font: 400 16px Avenir next, Roboto, sans-serif;
	white-space: pre-wrap;
	word-wrap: break-textInput;
}
.textInput input[type=text]:focus,
.textInput textarea:focus {
	outline: none;
	border-color: rgb(62,96,111);
}
.textInput.focused label {
	color: rgb(62,96,111);
}
.textInput.empty:not(.focused) label {
	margin-top: 13px;
	font-size: 16px;
}
/*
.textInput input[type=text]::-moz-placeholder,
.textInput input[type=text]:-moz-placeholder,
.textInput input[type=text]:-ms-input-placeholder,
*/
.textInput input[type=text]::-webkit-input-placeholder,
.textInput textarea::-webkit-input-placeholder {
	color: rgb(209, 219, 189);
	transition: color 0.2s ease;
}
.textInput textarea {
	resize: vertical;
	height: auto;
}
/*
.textInput.empty:not(.focused) input[type=text]::-moz-placeholder,
.textInput.empty:not(.focused) input[type=text]:-moz-placeholder,
.textInput.empty:not(.focused) input[type=text]:-ms-input-placeholder,
*/
.textInput.empty:not(.focused) input[type=text]::-webkit-input-placeholder,
.textInput.empty:not(.focused) textarea::-webkit-input-placeholder {
	color: rgba(255,255,255,0);
}

body {
	margin: 0px;
}

table thead th {
	text-transform: uppercase;
	font-weight: normal;
	font-size: 11px;
	line-height: 16px;
	color: rgba(0,0,0,0.5);
}
table tbody td {
	font-size: 13px;
	line-height: 20px;
}

.appBar {
	color: rgba(255,255,255,0.87);

	padding: 0px 24px;
	margin: 0px 0px 5px 0px;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
}
.appBar .firstLine {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
}
.inboxView .appBar {
	background-color: rgb(25, 52, 65);
}
.projectView .appBar {
	background-color: rgb(64, 24, 24);
}
.searchView .appBar {
	background-color: rgb(64, 24, 54);
}

.appBar h1 {
	margin: 0px;

	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;

	font-weight: normal;
	line-height: 64px;
	font-size: 24px;

	text-overflow: ellipsis;
}
.appBar a.newTaskLink {
	text-decoration: none;
	color: inherit;
	line-height: 64px;
	font-size: 24px;
	font-weight: bold;
}
.appBar .navigation {
	list-style: none;
	display: block;
	position: absolute;
	top: 47px;
	line-height: 15px;
	font-size: 13px;
	margin: 0px;
	padding: 0px;
}
.appBar .navigation:after {
	content: " ";
	clear: both;
	height: 0px;
	display: block;
	visibility: hidden;
}
.appBar .navigation li {
	float: left;
}
.appBar .navigation a {
	color: rgba(255,255,255,0.2);
	text-decoration: none;

	display: block;
	padding: 0px 3px;
	border-bottom: 2px solid transparent;

	transition: color 0.2s ease, border-color 0.2s ease;
}
.appBar:hover .navigation a {
	color: rgba(255,255,255,0.5);
}
.appBar .navigation a:hover {
	color: rgba(255,255,255,0.87);
	border-color: rgba(255,255,255,0.87);
}

.taskList {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.taskList .taskItem {
	padding: 5px 15px;
}
.taskList .taskItem:hover {
	background-color: rgba(0, 188, 212, 0.1);
}

.taskItem {
	line-height: 24px;
	font-size: 14px;
}
.taskItem a {
	text-decoration: none;
	color: inherit;
}
.taskItem .title {
	display: block;
}
.taskItem .project {
	display: block;
	float: right;
	margin-left: 5px;
	font-size: 11px;
	color: magenta;
}
.taskItem .tags {
	float: right;
	margin-left: 5px;
	display: block;
	color: rgb(62, 96, 111);
	font-size: 11px;
}

.taskView .details {
}

.detailsView {
	margin: 0px 15px;
}

.taskNotesList {
	margin: 10px 15px;
}
.taskNotesList h5 {
	font-size: 14px;
	font-weight: normal;
	margin: 5px 0px;
	color: rgb(145, 170, 157);
	//border-top: 1px solid rgb(145, 170, 157);
}
.taskNotesList ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.taskNotesList ul li {
	margin: 5px 0px;
}
.taskNotesList .timestamp {
	font-size: 11px;
	color: rgb(145, 170, 157)
}